@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(315deg, #6CA6C1 0%, #2F3061 74%);
}
@media (max-width: 600px){
  body {
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(315deg, #6CA6C1 0%, #ee0b0b 74%);
  }
}